In [3]:
import pandas as pd
import pickle
f = open('/home/henry/Insight/Yoga_Store_Location_Recommender/Datasets/Yelp_NY_Yoga_Studios_dataset/YogaYelpDfRAW.pckl', 'rb')
YogaYelpDfbackup = pickle.load(f)
f.close()
YogaYelpDfbackup.head(5)

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,rating,review_count,transactions,url,price
0,the-kula-project-groton,"[{'alias': 'yoga', 'title': 'Yoga'}, {'alias':...","{'latitude': 41.3507726899586, 'longitude': -7...",(860) 415-3757,8891.333176,GAr8OGpIuDEpXHX7JWgIhQ,https://s3-media3.fl.yelpcdn.com/bphoto/-bwyjE...,False,"{'address1': '37 Water St', 'address2': '', 'a...",The Kula Project,+18604153757,5.0,3,[],https://www.yelp.com/biz/the-kula-project-grot...,NaN
1,mystic-yoga-shala-mystic-2,"[{'alias': 'yoga', 'title': 'Yoga'}]","{'latitude': 41.3442883, 'longitude': -71.9512...",(860) 536-0237,8497.681166,b3Ij7Wd7jhmEV_2SvjILKA,https://s3-media2.fl.yelpcdn.com/bphoto/BkyIRW...,False,"{'address1': '80 Stonington Rd', 'address2': '...",Mystic Yoga Shala,+18605360237,4.5,12,[],https://www.yelp.com/biz/mystic-yoga-shala-mys...,NaN
2,up-fitness-mystic,"[{'alias': 'barreclasses', 'title': 'Barre Cla...","{'latitude': 41.372018, 'longitude': -71.95588}",(860) 451-4080,11400.227538,eNVMg20JVfM_xeyKD6Nphg,https://s3-media4.fl.yelpcdn.com/bphoto/aj6Bqx...,False,"{'address1': '12 Coogan Blvd', 'address2': Non...",UP Fitness,+18604514080,4.5,18,[],https://www.yelp.com/biz/up-fitness-mystic?adj...,NaN
3,blissworks-yoga-and-healing-arts-new-london,"[{'alias': 'yoga', 'title': 'Yoga'}, {'alias':...","{'latitude': 41.3546676, 'longitude': -72.0972...",(860) 448-9642,13479.219938,ZmQOhiWBFKh7TFRomduDVA,https://s3-media1.fl.yelpcdn.com/bphoto/jcsktI...,False,"{'address1': '228 State St', 'address2': '', '...",Blissworks Yoga & Healing Arts,+18604489642,5.0,5,[],https://www.yelp.com/biz/blissworks-yoga-and-h...,NaN
4,high-street-yoga-westerly,"[{'alias': 'yoga', 'title': 'Yoga'}]","{'latitude': 41.3776781, 'longitude': -71.830914}",(860) 501-8970,17213.791255,ix34vW9GhqyY_r1N9GznEg,https://s3-media4.fl.yelpcdn.com/bphoto/8VrcOS...,False,"{'address1': '10 Broad St', 'address2': 'Fl 1'...",High Street Yoga,+18605018970,4.5,9,[],https://www.yelp.com/biz/high-street-yoga-west...,NaN

In [7]:
LandAreaFileLoc = "/home/henry/Insight/Yoga_Store_Location_Recommender/Datasets/Mock_Demographics/Mock_Demographics.csv"
LandAreaDf = pd.read_csv(LandAreaFileLoc)
LandAreaDf.head(5)

,Zip Code,Population,Total_female_population,Actual_Mean_Income,Land_area,Housing Unit,Latitude,Longitude
0,6390.0,236.0,132,62117,10555961.0,660.0,41.273576,-71.968993
1,10001.0,21102.0,3512,75892,1609401.0,12476.0,40.750672,-73.997281
2,10002.0,81410.0,11216,148762,2277670.0,34541.0,40.715762,-73.986258
3,10003.0,56024.0,40462,67277,1493004.0,31078.0,40.731829,-73.989181
4,10004.0,3089.0,29342,145683,1449744.0,2197.0,40.688630,-74.018244